/* Google Font Embeded */
body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        font-family: 'Quicksand', sans-serif;
    }



.blue-color{
    background-color: #1b6ab4;
    color: white;
}

.blue-text{
    color: #1b6ab4;
}

.w3-badge {height:25px;width:25px;padding:0;cursor:pointer;}

.bg, .bg1{
    /* Full height */
    height: 500px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg {
    /* The image used */
    background-image: url("img/slider/news-min.jpg");
}

.bg1 {
    /* The image used */
    background-image: url("img/slider/home-min.jpg");
}

.home-slider-heading-text{
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}